<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="943159ce-92d8-4b31-a297-f45ff257ac87" Name="ChromiumUpdater.Setup" Language="1033" Version="1.0.0.0" Manufacturer="ChromiumUpdater.Setup" UpgradeCode="0a39100a-9a92-4196-a889-2ea74c590c82">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="ChromiumUpdater.Setup">
					<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
					<!-- <Component Id="ProductComponent" Guid="e96c6bd9-3969-4de7-bf35-0e209e3f1530"> -->
						<!-- TODO: Insert files, registry keys, and other resources here. -->
					<!-- </Component> -->
					
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="ProductFeature" Title="ChromiumUpdater.Setup" Level="1">
			<!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
			<!-- <ComponentRef Id="ProductComponent" /> -->
			
			<!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
			<ComponentGroupRef Id="Product.Generated" />
		</Feature>
	</Product>
</Wix>
